.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*position:fixed*/
div.sideBar {
  background-color:#ecf0f1;
  color:gray;
  width:0;
  height:auto;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  animation:slideIn 1.5s ease-in-out forwards;
  z-index:1;
}

@keyframes slideIn {
  0% {
    width:0;
  } 50% {
    width:100vw;
  } 100% {
    width:20vw;
  }
}

div.sideBar ul.navList {
  list-style-type:none;
  width:100%;
  padding:0;
}

div.sideBar ul.navList li:hover {
  background-color:#bdc3c7;
}

div.sideBar ul.navList li {
  padding-bottom:2rem;
  padding-top:2rem;
  color:gray;
  width:100%;
  opacity:0;
  animation:pop .5s ease-in-out forwards;
  animation-delay:1.5s;
}

@keyframes pop {
  0% {
    opacity:0;
    transform:scale(1);
  } 70% {
    opacity:.7;
    transform:scale(.7);
  } 100% {
    opacity:1;
    transform:scale(1);
  }
}
/*
left:20vw;
height:100vh;
width:80vw;
*/
div.rightContainer {
  position:relative;
  top:0;

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#3498db;
  color:white;
  opacity:0;
  animation:show .1s forwards;
  animation-delay:.75s;
}

.pageContainer {
  display: flex;
}

@keyframes show {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

div.rightContainer #star {
  font-size:5rem;
  padding:2rem;
}

img.dave {
  border-radius:50%;
  border:3px solid white;
}

div.profile {
  padding:3rem;
}

.jumbo {
  background-color: #2F4858;
  padding: 2em;
  width: 100%;
  text-align: left;
}

.container {
  padding-left: 1.5em;
  text-align: left;
}
