.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.bodyContainer {
  height:100%;
  min-height:100vh;
  width:80vw;
  display:flex;
  align-content: center;
  align-items:center;
  background-color:#e74c3c;
  color:#efefef;
  font-size:2rem;
}

div.container {
  height:50%;
  width:75%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

div.container h1 {
  display:flex;
  font-size:7rem;
  width:100%;
  justify-content:center;
  animation:foodIn .5s ease-in;
}

@keyframes foodIn {
  from {
    transform:translateY(-20px);
    opacity:0;
  } to {
    transform:translateY(0);
    opacity:100;
  }
}

div.container div.introContainer {
  opacity:0;
  animation:foodIn2 .5s ease-in forwards;
  animation-delay:.5s;
  font-size:2rem;
}

@keyframes foodIn2 {
  from {
    transform:translateY(20px);
    opacity:0;
  } to {
    transform:translateY(0);
    opacity:100;
  }
}

div.zipMoney {
  display:flex;
  width:100%;
  justify-content: center;
}

div.zipMoney div.zipCode input {
  color:gray;
}

div.zipCode, div.money {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
}

div.zipCode input {
  width:100%;
}

div.money h6 {
  width:100%;
  display:flex;
  justify-content: center;
}

div.zipMoney > div {
  margin:15px;
}

div.arrowSubmit {
  padding:15px;
  font-size:1.5rem;
  color:#efefef;
  animation:next 1s ease-in-out infinite;
}

div.resultContent {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}

@keyframes next {
  0% {
    transform:translateX(0);
  } 50% {
    transform:translateX(20px);
  } 100% {
    transform:translateX(0px);
  }
}

div.footer {
  width:70%;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

div.categoryCard {
  height:100px;
  width:100px;
  background-color:#c0392b;
  display:flex;
  align-items:center;
  justify-content: center;
  border-radius:10%;
  margin:15px;
}

div.categoryCard:hover, div.categoryCard:active {
  background-color:#f39c12;
  cursor: pointer;
}

div.categoryCard h3.categoryName {
  display:flex;
}

div.info {
  display:none;
}

div.categoryCard:hover > div.info {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  padding:10px;
}

div.categoryCard:hover > h5.categoryName {
  display:none;
}

div.arrowSubmit:hover {
  cursor: pointer;
  color:#f39c12;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
